body{
    margin: 0px;
}


*{
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
}
.main .left nav img{

    width: 30%;
  
}

.main .left{
    margin-top: 77px;
}
.main .left nav{

    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.left nav .Sign{
    width: 110px;
    height: 36px;
    background-color: black;
    color: white;
    border: none;
   
  
    
}
.left nav button{
    color:  black;
    background-color:  transparent;
    border: none;
    margin-left: 32px;
    font-size: 16px;
    margin-top: 11px;
}
.left nav button:hover{
    background-color: rgb(204, 189, 189);
}

.main .main-img{
    width: 530px;
}
body
{
    overflow-x: hidden;
}
    
.left .txt{
    margin-left: 56px;
    margin-top: 60px;
}
.left .txt h1{
    font-size: 39px;
}
 .txt p{
    margin-top: 16px;
    font-size: 23px;
    color: rgb(43, 42, 42);
}
.txt .inp{
    display: flex;
    margin-top: 33px;
}
.txt .inp input{
    width: 400px;
    height: 26px;
    border: 1px solid rgb(241, 76, 16);
    border-right: none;
    padding: 11px;
    font-size: 17px;

}
.txt .inp button{
    width: 130px;
    height: 50px;
    background-color: rgb(250, 80, 18);
    color: white;
    border: none;
    font-size: 18px;
}
.txt .inp button:hover{
    background-color: rgb(247, 180, 125);
}
.left img{
    width: 32%;
}
.left img{
    width: 530px;
}
.txt .pp{
    font-size: 18px;
}
.txt .ct{
    font-size: 18px;
}


.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(31, 16, 5);
    padding: 44px;
    color: white;
}
.card .crd img{
    width: 30%;
}
.card .crd h2{
    margin-top: 44px;
    margin-left: 20px;
}
.rest img{
    width: 30%;
} 
.rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}
.rest .text{
    margin-top: 84px;
}
.rest .text h1{
    font-size: 44px;
}
.rest .text p{
    margin-top: 11px;
    
}
.rest .text img{
    margin-top: 22px;
}
.rest{
    margin: 5%;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-between;  
    background-color: black;
    padding: 55px;
    color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.7);
    
}
.footer .list{
    margin-inline: 47px;
}
.footer .list img{
    width:43%;
    border: 2px solid white;
    border-radius: 5px;
}
.footer .list h2{
   color: gray;
}
.footer .list2{
margin-inline: 44%;
}


.footer2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 55px;


}
.ftr{
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    
}
.lg{
    margin-left: 50%;
    display: flex;
    padding: 5%;
    width: 5%;
    font-size: 10%;
    border-color: rgb(255, 255, 255, 0.7);
}
.phn1{
    margin: -60px;
    width: 37%;
}




